services:
  stream1:
    image: ghcr.io/linuxserver/ffmpeg:version-6.1-cli
    container_name: stream1
    network_mode: host
    restart: always
    entrypoint: ["/bin/sh", "-c"]
    command:
      - >
        ffmpeg -rtsp_transport tcp -fflags +genpts -rtbufsize 256M -use_wallclock_as_timestamps 1
        -i rtsp://192.168.0.147:554/live/0/MAIN
        -c copy -an -f flv rtmp://49.50.74.61:6002/live/stream1

  stream2:
    image: ghcr.io/linuxserver/ffmpeg:version-6.1-cli
    container_name: stream2
    network_mode: host
    restart: always
    entrypoint: ["/bin/sh", "-c"]
    command:
      - >
        ffmpeg -rtsp_transport tcp -fflags +genpts -rtbufsize 256M -use_wallclock_as_timestamps 1
        -i rtsp://192.168.0.211:554/live/0/MAIN
        -c copy -an -f flv rtmp://49.50.74.61:6002/live/stream2


  stream3:
    image: ghcr.io/linuxserver/ffmpeg:version-6.1-cli
    container_name: stream3
    network_mode: host
    restart: always
    entrypoint: ["/bin/sh", "-c"]
    command:
      - >
        ffmpeg -rtsp_transport tcp -fflags +genpts -rtbufsize 256M -use_wallclock_as_timestamps 1
        -i rtsp://192.168.0.215:554/live/0/MAIN
        -c copy -an -f flv rtmp://49.50.74.61:6002/live/stream3

  stream4:
    image: ghcr.io/linuxserver/ffmpeg:version-6.1-cli
    container_name: stream4
    network_mode: host
    restart: always
    entrypoint: ["/bin/sh", "-c"]
    command:
      - >
        ffmpeg -rtsp_transport tcp -fflags +genpts -rtbufsize 256M -use_wallclock_as_timestamps 1
        -i rtsp://192.168.0.216:554/live/0/MAIN
        -c copy -an -f flv rtmp://49.50.74.61:6002/live/stream4
