services:
  stream9:
    image: ghcr.io/linuxserver/ffmpeg:version-6.1-cli
    container_name: stream9
    network_mode: host
    restart: always
    entrypoint: ["/bin/sh", "-c"]
    command:
      - >
        ffmpeg -rtsp_transport tcp -fflags +genpts -rtbufsize 256M -use_wallclock_as_timestamps 1
        -i rtsp://192.168.0.147:554/live/0/MAIN
        -c copy -an -f flv rtmp://49.50.74.61:6002/live/stream9

  stream10:
    image: ghcr.io/linuxserver/ffmpeg:version-6.1-cli
    container_name: stream10
    network_mode: host
    restart: always
    entrypoint: ["/bin/sh", "-c"]
    command:
      - >
        ffmpeg -rtsp_transport tcp -fflags +genpts -rtbufsize 256M -use_wallclock_as_timestamps 1
        -i rtsp://192.168.0.211:554/live/0/MAIN
        -c copy -an -f flv rtmp://49.50.74.61:6002/live/stream10


  stream11:
    image: ghcr.io/linuxserver/ffmpeg:version-6.1-cli
    container_name: stream11
    network_mode: host
    restart: always
    entrypoint: ["/bin/sh", "-c"]
    command:
      - >
        ffmpeg -rtsp_transport tcp -fflags +genpts -rtbufsize 256M -use_wallclock_as_timestamps 1
        -i rtsp://192.168.0.215:554/live/0/MAIN
        -c copy -an -f flv rtmp://49.50.74.61:6002/live/stream11

  stream12:
    image: ghcr.io/linuxserver/ffmpeg:version-6.1-cli
    container_name: stream8
    network_mode: host
    restart: always
    entrypoint: ["/bin/sh", "-c"]
    command:
      - >
        ffmpeg -rtsp_transport tcp -fflags +genpts -rtbufsize 256M -use_wallclock_as_timestamps 1
        -i rtsp://192.168.0.216:554/live/0/MAIN
        -c copy -an -f flv rtmp://49.50.74.61:6002/live/stream12
