services:
  stream4:
    image: ghcr.io/linuxserver/ffmpeg:version-6.1-cli
    container_name: stream5
    network_mode: host
    restart: always
    entrypoint: ["/bin/sh", "-c"]
    command:
      - >
        ffmpeg -rtsp_transport tcp -fflags +genpts -rtbufsize 256M -use_wallclock_as_timestamps 1
        -i rtsp://192.168.0.147:554/live/0/MAIN
        -c copy -an -f flv rtmp://49.50.74.61:6002/live/stream5

  stream5:
    image: ghcr.io/linuxserver/ffmpeg:version-6.1-cli
    container_name: stream6
    network_mode: host
    restart: always
    entrypoint: ["/bin/sh", "-c"]
    command:
      - >
        ffmpeg -rtsp_transport tcp -fflags +genpts -rtbufsize 256M -use_wallclock_as_timestamps 1
        -i rtsp://192.168.0.211:554/live/0/MAIN
        -c copy -an -f flv rtmp://49.50.74.61:6002/live/stream5


  stream6:
    image: ghcr.io/linuxserver/ffmpeg:version-6.1-cli
    container_name: stream6
    network_mode: host
    restart: always
    entrypoint: ["/bin/sh", "-c"]
    command:
      - >
        ffmpeg -rtsp_transport tcp -fflags +genpts -rtbufsize 256M -use_wallclock_as_timestamps 1
        -i rtsp://192.168.0.215:554/live/0/MAIN
        -c copy -an -f flv rtmp://49.50.74.61:6002/live/stream6
