services:
  stream1:
    image: alfg/ffmpeg:latest
    container_name: stream1
    restart: always
    command: >
      ffmpeg -rtsp_transport tcp -fflags +genpts -rtbufsize 256M -use_wallclock_as_timestamps 1
      -i "rtsp://192.168.0.23:554/live/0/MAIN"
      -c copy -an -f flv "rtmp://49.50.74.61:6002/live/stream1"

  stream2:
    image: alfg/ffmpeg:latest
    container_name: stream2
    restart: always
    command: >
      ffmpeg -rtsp_transport tcp -fflags +genpts -rtbufsize 256M -use_wallclock_as_timestamps 1
      -i "rtsp://192.168.0.24:554/live/0/MAIN"
      -c copy -an -f flv "rtmp://49.50.74.61:6002/live/stream2"

  stream3:
    image: alfg/ffmpeg:latest
    container_name: stream3
    restart: always
    command: >
      ffmpeg -rtsp_transport tcp -fflags +genpts -rtbufsize 256M -use_wallclock_as_timestamps 1
      -i "rtsp://192.168.0.25:554/live/0/MAIN"
      -c copy -an -f flv "rtmp://49.50.74.61:6002/live/stream3"

  stream4:
    image: alfg/ffmpeg:latest
    container_name: stream4
    restart: always
    command: >
      ffmpeg -rtsp_transport tcp -fflags +genpts -rtbufsize 256M -use_wallclock_as_timestamps 1
      -i "rtsp://192.168.0.26:554/live/0/MAIN"
      -c copy -an -f flv "rtmp://49.50.74.61:6002/live/stream4"

  stream5:
    image: alfg/ffmpeg:latest
    container_name: stream5
    restart: always
    command: >
      ffmpeg -rtsp_transport tcp -fflags +genpts -rtbufsize 256M -use_wallclock_as_timestamps 1
      -i "rtsp://192.168.0.27:554/live/0/MAIN"
      -c copy -an -f flv "rtmp://49.50.74.61:6002/live/stream5"
